<!-- ejs 파일은 views에 보관 -->
<!-- ejs 파일도 html과 똑같음 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>

<body class="grey-bg">
    <%=글목록%>
    <div class="white-bg">
        <div class="list-box">
            <h4><%= 글목록[0].title %></h4>
            <p><%= 글목록[0].content %></p>
        </div>
        <div class="list-box">
            <h4><%= 글목록[1].title %></h4>
            <p><%= 글목록[1].content %></p>
        </div>
    </div>

</body>

</html>