<!-- ejs 파일은 views에 보관 -->
<!-- ejs 파일도 html과 똑같음 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>

<body class="grey-bg">
    <!-- <%=글목록%> -->
    <%- include('nav.ejs') %>
    <div class="white-bg">
        <% for (let i=0; i<글목록.length; i++){%>
        <div class="list-box">
          <h4><%= 글목록[i].title %></h4>
          <p><%= 글목록[i].content%></p>
        </div>
        <%}%>
      </div>
    <!-- <%- %>는 그 안에 들어있는게 html인 경우 그걸 실제로 렌더링
         <%= %>는 일반 문자처럼 보여줌
    -->

</body>

</html>